<h1> Welcome
{{#if user}}
   <h1>{{user.name}}</h1>
 {{/if}}
</h1>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rachelle</title>
    <link href='/assets/user/user.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="content">
        <ul class="library"></ul>
        <div class="overlay-page"></div>
        <div class="overlay-summary"></div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/user.bjs"></script>
</body>
</html>
